
/* body{ */
	/* background-color:lightblue; */
/* } */

body {
  background-image: url("../images/blueocean.jpg");
}

#map{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: auto; */
	/* border: 3px solid black; */
	/* padding: 0px; */
	/* align-content: center; */
}

.centered {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
} 

.navBtn {
  /* background-color: #333; */
  color: #fff;
  margin: 0;
  padding: 0;
  /* padding: 14px 16px; */
  padding-left: 14px;
  padding-right: 16px;
  /* border: 4px solid #333; */
}

.bbh-sans{
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

img{
	width:20%;
}

.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-weight: <weight>;
  font-style: normal;
}