/* style.css */

.font-bartle {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* fonts end */

/* navbar start */
.navbar{
  background-color: #3ABEF9;
  /* data-bs-theme="dark" */
  text-align: center;
  margin-bottom: 0.8em;
}

.navBtn {
	background-color: #3ABEF9;
  /* background-color: #333; */
  color: #fff;
  margin: 0;
  padding: 0;
  /* padding: 14px 16px; */
  padding-left: 14px;
  padding-right: 16px;
  /* border: 4px solid #333; */
}

.navBtn:hover {
  background-color: #111;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3ABEF9;
  margin-bottom: 0.8em;
}

ul li {
  float: none;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

ul li a:hover {
  background-color: #111;
}

/* navbar end */
/*common tags ALL*/
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/background2.avif"); 
	background-size: cover;
 /* background-color: lightgreen; */
}

/*common tags ALL*/
/* Andrei G section start */

.ag_col:hover {
  /* background-color: #111; */
}

.ag_col {
  border: 4px solid #333;
  /* background-color: #333; */
}
.ag_row {
  border: 4px solid #ff0000;
  margin-bottom: 1em;
  /* background-color: #333; */
}
/* Andrei G section end */

/* Derek o K sectio start */
/* The hero image */
.hero-image {
  /*hero layout*/
  background-image: url("../images/bubbles2.avif");
  height: 15vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: relative;
  position: relative;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*
   for hero sections 
*/
.section-dark {
    background-color: var(--color-primary-dark);
    color: var(--color-light-text);
    padding: 4rem 0; /* Vertical padding for breathing room */
}
.section-dark h2, .section-dark h3 {
    color: var(--color-accent-light); 
}

/* Image Overlays/Captions:
*/
.image-overlay-caption {
    background-color: rgba(53, 114, 239, 0.8);
    color: var(--color-light-text);
    padding: 1rem;
}
/* The Modal pop up window (background) */
.modal {
	display: none; /* Hidden by default */
	position: relative; /* Stay in place */
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto;
	/* background-image: url("../images/background2.avif"); */
	background-color: #3ABEF9;
	/* background-color: #3ABEF9; */
}
/* Modal Content */
.modal-content {
	position: relative;
	background-color: #3ABEF9;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.0),0 6px 20px 0 rgba(0,0,0,0.0);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}
/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
		
/* Derek o K section end */

/* Tristan section start */

/* Tristan section end */

/* Alexander section start */

/* Alexander section end */
