/* style.css */
/* group g css cobined Derek, Andrei, Alexander, Tristan */

.font-bartle {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* fonts end */

/* .row {
  border: 4px solid #333;
} */

/*common tags ALL*/

/* navbar start */
.navbar{
  background-color:#1e1e1e;
  /* data-bs-theme="dark" */
  text-align: center;
  margin-bottom: 0.8em;
}
.navbar-brand {
	color: #A6F5C2;
}

.navBtn {
  /* background-color: #333; */
  color:  #cbd8d9;
  margin: 0;
  padding: 0;
  /* padding: 14px 16px; */
  padding-left: 14px;
  padding-right: 16px;
  /* border: 4px solid #333; */
}

.navBtn:hover {
    background-color: white;
    color: black;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3ABEF9;
  margin-bottom: 0.8em;
}

footer ul li {
  float: none;
}

footer ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

footer ul li a:hover {
  background-color: #111;
}

/* navbar end */


body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../images/background2.avif"); 
	background-size: cover;
 /* background-color: lightgreen; */
}
/*common tags ALL end*/


/* Andrei G section start ################################# */

/* andrei navbar customization start*/
.ag_body .navbar-brand {
  color: #A6F5C2;
}

.ag_body .navbar-brand:hover {
  color: #00f2ff;
}

.ag_body nav {
  /* background-color:#4b4a4a; */
  background-color: #1e1e1e;
}

.ag_active {
  background-color: #00f2ff;
}

.collapse .navBtn {
  color: #cbd8d9;
  /* margin: 0; */
  /* padding: 0; */
}

.collapse .navBtn:hover {
  /* background-color: #A6F5C2; */
  background-color: #060606;
  /* color: black; */
}

.collapse .ag_loginBtn {
  color: #00f2ff;
  margin-left: 2em;
  margin-right: 2em;
  float: right;
  /* margin: auto; */
  /* flex: auto; */
  text-decoration: none;
  text-align: center;
}

.ag_navbar .navbar-toggler {
  background-color: #cbd8d9;
  color: #cbd8d9;
}
/* andrei navbar customization end*/

.ag_body {
  color: black;
  background-color: black;
}

.ag_body img {
  /* height: auto; */
  width: 100%;
  object-fit: fill;
}

.ag_col:hover {
  /* background-color: #111; */
}

.ag_col {
  border: 2px solid #333;
  /* background-color: #333; */
}

.ag_row {
  /* border: 4px solid #ff0000; */
  margin-bottom: 1em;
  background-color: #d1eaff;
}

.ag_h1, .ag_h2, .ag_h3, .ag_h4, .ag_h5, .ag_h6 {
  color: black;
}

.ag_body .ag_p {
  /* color: red; */ /* for debugging purposes */
  font-size: 1.2rem;
}

/* login overlay andrei */
#pop_up {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #d1eaff;
  border: 4px solid #333;
  z-index: 1000;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.ag_center {
  text-align: center;
}

/* registartion form andrei*/
.error_message {
  color: red;
}

/* input style start */
.ag_body input {
  color: black;
  border: 2px solid #333;
  /* background-color: #aaa; */
  background-color: #f2fbff;
}

.pop_up button {
  border: 2px solid #333;
  background-color: #999;
}
/* input style end */
/* Andrei G section end ################################# */





/* ===ALEXANDER K section start=== */


.title-style {
	
	background-color: white;
	border-radius: 20px;
    padding: 15px 15px 10px 15px;
	
	
}

.my-wrapper {
    display: flex;
    gap: 100px; /* the way between blocks */
    padding: 20px; /* distance from inside */
	margin-top: 30px;
}

.info-column {
    flex: 1; /* I need this for same space for another column */
    display: flex;
    flex-direction: column; /*transform to column (no string) */
    gap: 50px;
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	background-color: white;
	padding: 10px;
	border-radius: 20px;
}

/* IMAGES */
.info-image {
    width: 120px;
    height: 120px;
    margin-bottom: 20px; /* Space from my svg image */
}

.info-image img {
    width: 120px;
    height: 120px;
    animation: Blink 2.5s infinite ease-in-out;
}

.info-image img:hover {
    filter: brightness(1.4);
}

.info-title {
    font-weight: 700;
    margin: 0;
}

/* Text under images */
.info-text {
   
    color: black;
}

/* ANIMATION */
@keyframes Blink {
    0%   { opacity: 1; }
    50%  { opacity: 0.4; }
    100% { opacity: 1; }
}


/* For Contact.page */


.contact-form {
    background: rgba(255, 255, 255, 0.5);
}

.contact-form .form-control {
    border: 2px solid #3ABEF9;
}

.contact-form .form-control:focus {
    border-color: blue;
}


/* ===ALEXANDER K section end=== */




/* Derek o K sectio start */




/* The hero image */
.hero-image {
  /*hero layout*/
  background-image: url("../images/bubbles2.avif");
  height: 15vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: relative;
  position: relative;
}
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*
   for hero sections 
*/
.section-dark {
    background-color: var(--color-primary-dark);
    color: var(--color-light-text);
    padding: 4rem 0; /* Vertical padding for breathing room */
}
.section-dark h2, .section-dark h3 {
    color: var(--color-accent-light); 
}

/* Image Overlays/Captions:
*/
.image-overlay-caption {
    background-color: rgba(53, 114, 239, 0.8);
    color: var(--color-light-text);
    padding: 1rem;
}
/* The Modal pop up window (background) */
.modal {
	display: none; /* Hidden by default */
	position: relative; /* Stay in place */
	z-index: 1; 
	left: 0;
	top: 1;
	width: 100%; 
	height: 100%; 
	overflow: auto;
	/*  */
	/* background-color: #3ABEF9; */
	/* background-color: #3ABEF9; */
}

/* Modal Content */
.modal-content {
	position: relative;
	/* background-color: #3ABEF9; */
	margin: auto;
	padding: 0;
	border: 1px solid #3ABEF9;
	width: 80%;
	/* box-shadow: 0 4px 8px 0 rgba(0,0,0,1.6),0 6px 20px 0 rgba(0,0,0,0.5); */
	animation-name: animatetop;
	animation-duration: 0.4s;
	background-image: url("../images/background2.avif");
}
#modalFrame {
  width: 100%;
  height: 100%;
  border: none;
}
@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}
/* dddddd */
#Bottomtext {
	color: white; 
}
/* * dddddd */ 
#Bottomtext5 {
	color: white; 
}
/* * dddddd */ 
#Bottomtext6 {
	color: white; 
}
/* * dddddd */ 
#Bottomtext7 {
	color: white; 
}
/* * dddddd */ 
#Bottomtext8 {
	color: white; 
}
/* dddddd */
#Bottomtext9 {
	color: white; 
}


/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
		
/* Derek o K section end */

/* Tristan section start */
/*------------------*/

/* styling for the map iframe */
#map{
	display: block;
	margin-left: auto;
	margin-right: auto;
	/* width: auto; */
	/* border: 3px solid black; */
	/* padding: 0px; */
	/* align-content: center; */
}

/* used to add black background to form */
.darken{
	background-color: black;
}

/* styling for "The well should never go dry" image */
.well-image{
	border-radius: 10px; 
	padding: 10px; 
	height: 70%;
}

/* Styling for the image beside the suggestions form */
.news-image{
	/* border-radius: 0px;  */
	margin: 0;
	padding: 0; 
	height: 100%;
}

/* styling for the image on the side pannel */
.side-image{
	object-fit: cover; 
	border-radius: 12px; 
	padding: 10px; 
	height: 100%;
}

/* stylling for the colour of error message when validating the form */
.error_msg{
	color: red;
}

/* styling for the border of the div containing the suggestion form */
.tbo_bold{
	border: 2px solid black;
}

/* background image for the conservation page */
body.consv{
	background-image: url("../images/vividblue.jpg");
}

/* background image for the find us page */
body.findus{
	background-image: url("../images/tbofindusbackground.jpg");
}

/* styling used to center the map */
.centered {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
} 

/* google fonts styling class */
.bbh-sans{
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.white-text{
	color:white;
}

/* #imgtri{ */
	/* width:20%; */
/* } */

/* google fonts styling class */
.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-weight: <weight>;
  font-style: normal;
}
/* Tristan section end */



