
body{
	background-color:#A7E6FF;
}

#map{
	margin: auto;
	width: 50%;
	border: 3px solid black;
	padding: 0px;
	align : center;
}

.bbh-sans{
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.roboto-slab{
  font-family: "Roboto Slab", serif;
  font-weight: <weight>;
  font-style: normal;
}