/* style.css */

/* google fonts */
/* .jetbrains { */
/*   font-family: "JetBrains Mono", monospace; */
/*   font-optical-sizing: auto; */
/*   font-weight: 600; */
/*   font-style: normal; */
/* } */
/**/
/* .monda { */
/*   font-family: "Monda", sans-serif; */
/*   font-optical-sizing: auto; */
/*   font-weight: 700; */
/*   font-style: normal; */
/* } */

.font-bartle {
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
/* fonts end */

/* navbar start */
.navbar{
  /* background-color: #333; */
  /* data-bs-theme="dark" */
  text-align: center;
  margin-bottom: 0.8em;
}

.navBtn {
  /* background-color: #333; */
  color: #fff;
  margin: 0;
  padding: 0;
  /* padding: 14px 16px; */
  padding-left: 14px;
  padding-right: 16px;
  /* border: 4px solid #333; */
}

.navBtn:hover {
  background-color: #111;
}

.navbarr {
  /* list-style-type: none; */
  margin: 0;
  padding: 0;
  width: 100%;
  /* overflow: hidden; */
  /* background-color: #666; */
  /* margin-bottom: 0.8em; */
}

.navbarrMenu{
  margin: 0;
  padding: 0;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 0.8em;
}

ul li {
  float: none;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

ul li a:hover {
  background-color: #111;
}

/* obsolete section start */
@media screen and (min-width: 992px) {
  .navbarr {
    margin-bottom: 0.8em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    /* overflow: hidden; */
    background-color: #333;
    /* margin-bottom: 0.8em; */
  }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
  }

  ul li {
    float: left;
  }
}
/* obsolete section end */
/* navbar end */

/* Andrei G sectio start */
body {
  background-color: lightgreen;
}

.ag_col:hover {
  /* background-color: #111; */
}

.ag_col {
  border: 4px solid #333;
  /* background-color: #333; */
}
.ag_row {
  border: 4px solid #ff0000;
  margin-bottom: 1em;
  /* background-color: #333; */
}
/* Andrei G section end */

/* Derek K sectio start */
/* Derek K section end */
